html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

mat-toolbar {
  background-color: #1A3647;
}

.titulo {
  margin: auto;
  font-size: 25px;
  color: white;
}

.login-page {
  height: 100vh; /* Faz com que a página ocupe toda a altura da viewport */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha o contêiner de login no topo */
  padding-top: 10px; /* Adiciona 10px de margem no topo */
  background: var(--background-color); /* Use uma variável CSS para alternar o fundo com base no tema */
}

.login-container {
  display: flex;
  flex-direction: column; /* Para garantir que os elementos fiquem empilhados verticalmente */
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: var(--background-color); /* Use uma variável CSS para alternar o fundo com base no tema */
}

::ng-deep .light-theme .login-page {
  background-color: white;
}

::ng-deep .dark-theme .login-page {
  background-color: #333;
}

.menu-login {
  display: grid;
  width: 100%;
  max-width: 400px; /* Limita a largura máxima do contêiner de login */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra para um efeito de profundidade */
}

.input-custom-width {
  width: 100%; /* Ajusta a largura do input para preencher o contêiner */
}

.estilomeu {
  width: 100%;
}

.full-width-button {
  width: 100%;
}

.botoes {
  display: flex;
  justify-content: center; /* Centraliza o botão */
}
