.sidenav-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sidenav {
  position: absolute;
}

.mat-sidenav-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mdc-list {
  padding: 0;
}

.container-fluid {
  flex-grow: 1;
  padding: 16px;
  overflow-y: auto;
}

.titulo {
  margin: auto;
  font-size: 25px;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  z-index: 1000;
}

.page-content.loading {
  pointer-events: none;
  opacity: 0.6;
  cursor: wait;
}

.page-content.loading .loader-overlay {
  opacity: 1;
  pointer-events: all;
  cursor: default;
}

.mat-expansion-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-expand {
  transform: rotate(0);
  transition: transform 0.3s;
}

.mat-expansion-panel-header[aria-expanded="true"] .icon-expand {
  transform: rotate(180deg);
}

.icon-person {
  padding-top: 5px;
}

.icon-home {
  padding-top: 5px;
}

.icons {
  padding-top: 3px;
}

.menu {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu:active {
  transform: scale(1.1);
}