<div class="d-flex">
  <div class="container-usuarios shadow p-4">
    <!-- Formulário para adicionar novo usuário -->
    <!-- Utilize o novo componente inputtext para adicionar um novo usuário -->
    <h2>Adicionar Novo Usuário</h2>
    <div class="d-flex">
      <div>
        <inputtext class="estilomeu" [label]="'Nome'" [placeholder]="'ex: Pedro'" [value]="usuarioNovo.name"
          (valueChange)="usuarioNovo.name = $event"></inputtext>
      </div>
      <div class="idade">
        <inputtext [label]="'Idade'" [value]="usuarioNovo.age" (valueChange)="usuarioNovo.age = $event"></inputtext>
      </div>
    </div>

    <div>
      <inputtext [label]="'Email'" [value]="usuarioNovo.email" (valueChange)="usuarioNovo.email = $event"></inputtext>
    </div>

    <div class="ativo-adicionar">
      <checkbox [label]="'Ativo'"></checkbox>
      <app-button [label]="'Adicionar'" [color]="'primary'" (buttonClick)="adicionarUsuario()"></app-button>
    </div>
  </div>

  <div class="container-update shadow p-4">

  </div>

</div>

<div class="container-tabela shadow p-4">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Idade</th>
        <th scope="col">Ativo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.age }}</td>
        <td>{{ usuario.active ? 'Sim' : 'Não' }}</td>
        <td>
          <minibutton [color]="'primary'" [icon]="'done'" (click)="toggleAtivo(usuario.id == null ? 0 : usuario.id)">
          </minibutton>
          <app-button [label]="'Excluir'" [color]="'warn'"
            (buttonClick)="deletarUsuario(usuario.id == null ? 0 : usuario.id)"></app-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>