<h1>Lista de Usuários</h1>

<ul>
  <div *ngFor="let usuario of usuarios">
    <div>Nome: {{ usuario.name }}</div>
    <div>Email: {{ usuario.email }}</div>
    <div>Idade: {{ usuario.age }}</div>
    <div>Ativo: {{ usuario.active ? 'Sim' : 'Não' }}</div>
    <button (click)="toggleAtivo(usuario.id == null ? 0 : usuario.id)">Alternar Ativo</button>
    <button (click)="deletarUsuario(usuario.id == null ? 0 : usuario.id)">Excluir</button>
    <hr>
  </div>
</ul>

<!-- Formulário para adicionar novo usuário -->
<!-- Utilize o novo componente inputtext para adicionar um novo usuário -->
<h2>Adicionar Novo Usuário</h2>
<form>
  <div>
    <inputtext [label]="'Nome'" [value]="usuarioNovo.name" (valueChange)="usuarioNovo.name = $event"></inputtext>
  </div>
  <div>
    <inputtext [label]="'Email'" [value]="usuarioNovo.email" (valueChange)="usuarioNovo.email = $event"></inputtext>
  </div>
  <div>
    <inputtext [label]="'Idade'" [value]="usuarioNovo.age" (valueChange)="usuarioNovo.age = $event"></inputtext>
  </div>
  <div>
    <label for="active">Ativo:</label>
    <input type="checkbox" id="active" name="active" [(ngModel)]="usuarioNovo.active">
  </div>
  <app-button [label]="'Adicionar'" (buttonClick)="adicionarUsuario()"></app-button>
</form>