<mat-toolbar color="primary">
  <loader-circular></loader-circular>
  <h1 class="titulo">Login</h1>
</mat-toolbar>
<div class="login-page">
  <div class="login-container">
    <div class="shadow p-4 menu-login" (keyup.enter)="fazerLogin()">
      <inputtext class="input-custom-width" [label]="'Login'" [placeholder]="'ex: Pedro'" [value]="login"
        [validacao]="true" (valueChange)="login = $event"></inputtext>
      <input-password class="estilomeu" [label]="'Senha'" [placeholder]="'ex: *****'" [value]="password"
        [validacao]="true" (valueChange)="password = $event"></input-password>
      <div class="d-flex botoes">
        <div>
          <app-button [label]="'Login'" class="full-width-button" (buttonClick)="fazerLogin()"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>