.container-vagas {
  margin-left: 10px;
  width: 100%;
  overflow-y: auto; 
}

.grid-vagas {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; 
}

.cartao {
  position: relative; 
  flex: 0 0 calc(33.33% - 20px); 
  margin: 10px; 
  width: 200px; 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 132px;
}

.cartao:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cartao:active {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.cartao h1 {
  font-size: 20px;
  margin-top: 10px;
}

.status-texto {
  font-weight: 100;
}

.texto-disponivel {
  color: #10bb0a; 
}

.texto-indisponivel {
  color: #f44336; 
}


.vaga-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vaga-status {
  width: 100%;
  text-align: center; 
}

.horario {
  font-size: 35px; 
  margin-top: 10px;
}

.botao-incluir-reserva {
  position: absolute;
  right: 10px; 
  bottom: 10px; 
  margin: 10px; 
}

.botao-fechar-reserva {
  position: absolute;
  left: 10px; 
  bottom: 10px; 
  margin: 10px; 
}
