<div class="d-flex">
  <div class="container-estacionamento shadow p-4">
    <h2>Estacionamento</h2>
    <div class="ativo-adicionar">
      <div>
        <app-inputselect [atributoExibido]="'nome'" [lista]="estacionamentos" [label]="'Selecione um Estacionamento'"
          [atributoValor]="'id'" [(value)]="selectedEstacionamentoId" (valueChange)="selecionarEstacionamento($event)">
        </app-inputselect>
      </div>
    </div>
  </div>

  <div class="container-vagas shadow p-4">
    <h2>Vagas</h2>
    <div class="grid-vagas">
      <div *ngFor="let vaga of cardsVagas" class="cartao" (click)="abrirDetalhesReserva(vaga)"
        [style.background]="vaga.cor">
        <div class="vaga-header">
          <h1>Vaga {{ vaga.numeroDaVaga }}</h1>
        </div>
        <div class="vaga-status">
          <p class="text-center">
            Status:
            <span class="status-texto"
              [ngClass]="{'texto-disponivel': vaga.disponivel, 'texto-indisponivel': !vaga.disponivel}">
              {{ vaga.disponivel ? 'Disponível' : 'Indisponível' }}
            </span>
          </p>
        </div>
        <div class="d-flex">
          <p *ngIf="!vaga.disponivel && vaga.tempoDecorrido" class="horario text-center">{{ vaga.tempoDecorrido }}</p>
          <minibutton [icon]="'add_location'" class=" botao-modal" [label]="'Incluir Reserva'" [color]="'primary'"
            (click)="openModal(vaga); $event.stopPropagation()"></minibutton>
        </div>        
      </div>
    </div>
  </div>
</div>
