<div class="d-flex">
  <div class="container-estacionamento shadow p-4">
    <h2>Estacionamento</h2>
    <div class="ativo-adicionar">
      <div>
        <app-inputselect [atributoExibido]="'nome'" [lista]="estacionamentos" [label]="'Selecione um Estacionamento'"
          [atributoValor]="'id'" [(value)]="selectedEstacionamentoId" (valueChange)="selecionarEstacionamento($event)">
        </app-inputselect>
      </div>
    </div>
  </div>

  <div class="container-vagas shadow p-4">
    <h2>Vagas</h2>
    <div class="grid-vagas">
      <div *ngFor="let vaga of cardsVagas" class="cartao" (click)="incluirReserva()"
        [style.background]="vaga.cor">
        <h1>Vaga {{ vaga.numeroDaVaga }}</h1>
        <div class="d-flex">
          <p>
            Status:
            <span class="status-texto"
              [ngClass]="{'texto-disponivel': vaga.disponivel, 'texto-indisponivel': !vaga.disponivel}">
              {{ vaga.disponivel ? 'Disponível' : 'Indisponível' }}
            </span>
          </p>
        </div>
      </div>
    </div>
    <minibutton [icon]="'add_location'" class="disponivel" [label]="'Incluir Reserva'" [color]="'primary'" (buttonClick)="incluirReserva()"></minibutton>
  </div>
</div>