<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [mode]="'side'" class="sidenav" fixedInViewport="true">
        <mat-toolbar routerLink="/home" class="menu">Menu</mat-toolbar>
        <mat-nav-list>
            <mat-expansion-panel *ngFor="let menu of menus" [expanded]="menu.expanded">
                <mat-expansion-panel-header>
                    {{menu.title}}
                </mat-expansion-panel-header>
                <div class="item-menu" *ngFor="let submenu of menu.submenus">
                    <a mat-list-item routerLinkActive="active" [routerLink]="submenu.link">
                        <mat-icon aria-label="Side nav toggle icon" class="icons">{{submenu.icon}}</mat-icon>
                        {{submenu.title}}
                    </a>
                </div>
            </mat-expansion-panel>
        </mat-nav-list>
        <!-- Adicione esta div ao final -->
        <div class="sidenav-footer">
            <img src="../../assets/icone.png" alt="Logo" class="footer-icon">
            <div class="footer-text">Reservagas</div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSidenav(drawer)">
                <mat-icon aria-label="Side nav toggle icon">{{ sidenavIcon }}</mat-icon>
            </button>
            <h1 class="titulo">{{ pageTitle }}</h1>
            <app-toggle-dark-theme></app-toggle-dark-theme>
            <button *ngIf="!isHomePage" type="button" aria-label="Minimize page" mat-icon-button
                (click)="minimizePage()" [title]="'Minimizar Pagina'">
                <mat-icon aria-label="Minimize icon">minimize</mat-icon>
            </button>
            <button *ngIf="!isHomePage" type="button" aria-label="Minimize page" mat-icon-button (click)="closePage()"
                [title]="'Fechar Pagina'">
                <mat-icon aria-label="Minimize icon">close</mat-icon>
            </button>
            <button type="button" aria-label="Logout" mat-icon-button (click)="logout()" [title]="'Sair'">
                <mat-icon aria-label="Logout icon">logout</mat-icon>
            </button>
        </mat-toolbar>
        <loader-circular></loader-circular>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
