<div class="d-flex">
    <div class="container-estacionamento shadow p-4">
      <h2>Estacionamento</h2>
      <div class="ativo-adicionar">
        <div>
          <app-inputselect 
            [atributoExibido]="'nome'" 
            [lista]="estacionamentos" 
            [label]="'Selecione um Estacionamento'" 
            [atributoValor]="'id'" 
            [(value)]="selectedEstacionamento">
        </app-inputselect>
        </div>
      </div>
    </div>
    <div class="container-vagas shadow p-4">
      <h2>Vagas</h2>
      <div class="ativo-adicionar">
        <div>
          <!-- Logica para pegar a quantidade de vagas do estacionamento e criar os cards -->
        </div>
      </div>
    </div>
</div>