<div class="d-flex">
  <div class="container-estacionamento shadow p-4">
    <h2>Estacionamento</h2>
    <div class="ativo-adicionar">
      <div>
        <app-inputselect 
          [atributoExibido]="'nome'" 
          [lista]="estacionamentos" 
          [label]="'Selecione um Estacionamento'" 
          [atributoValor]="'id'" 
          (valueChange)="selecionarEstacionamento($event)">
        </app-inputselect>
      </div>
    </div>
  </div>

  <div class="container-vagas shadow p-4">
    <h2>Vagas</h2>
    <div class="grid-vagas">
      <!-- Iteração sobre os cards de vagas -->
      <div *ngFor="let vaga of cardsVagas" class="cartao" (click)="abrirDetalhesReserva(vaga)">
        <h1>Vaga {{ vaga.id }}</h1>
        <p *ngIf="vaga.disponivel">Status: Disponível</p>
        <p *ngIf="!vaga.disponivel">Status: Indisponível</p>
        <!-- Adicione mais conteúdo conforme necessário -->
      </div>
    </div>
  </div>
</div>
