.titulo {
  margin: auto;
  font-size: 25px;
  text-align: center; /* Centraliza o texto do título */
  color: white;
}

.topo-login {
  background-color: #1A3647;
}

.mat-toolbar {
  background-color: #1A3647;
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px; /* Espaço entre o topo e o conteúdo */
  width: 100%;
}

.button-group {
  margin-right: 70px;
  gap: 20px;
  display: flex;
}

.menu-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Largura máxima do contêiner de inputs e botões */
  margin: 16px auto; /* Centraliza horizontalmente com margem superior */
}

.input-group {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px; /* Espaço entre os inputs e os botões */
}

.estilomeu {
  flex: 1; /* Faz com que os inputs ocupem o espaço disponível igualmente */
  max-width: 240px; /* Largura máxima dos inputs */
}

.botoes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.full-width-button {
  flex: 1;
  max-width: 240px; /* Largura máxima dos botões */
}

.button {
  background-color: aqua;
}