<mat-toolbar color="topo-login">
  <loader-circular></loader-circular>
  <h1 class="titulo">Trocar Senha</h1>
</mat-toolbar>
<div class="senha-page container-fluid">
  <div class="senha-container">
    <div class="input-group">
      <input-password class="input" [label]="'Nova Senha'" [placeholder]="'Digite sua nova senha'"
        [(value)]="newPassword" [validacao]="true"></input-password>
      <input-password class="input" [label]="'Confirme a Senha'" [placeholder]="'Confirme sua nova senha'"
        [(value)]="confirmPassword" [validacao]="true"></input-password>
    </div>
    <div class="button-group">
      <app-button [label]="'Redefinir Senha'" class="button" (buttonClick)="resetPassword()"></app-button>
      <app-button [label]="'Voltar'" class="button" (buttonClick)="voltar()"></app-button>
    </div>
  </div>
</div>
