<div class="container shadow p-4">
    <h2>Adicionar Novo Vendedor</h2>
    <div class="form-group">
      <inputtext [label]="'Nome'" [placeholder]="'Nome do Vendedor'" [value]="vendedorNovo.nome" (valueChange)="vendedorNovo.nome = $event"></inputtext>
    </div>
    <div class="form-group">
      <inputtext [label]="'Email'" [placeholder]="'Email do Vendedor'" [value]="vendedorNovo.email" (valueChange)="vendedorNovo.email = $event"></inputtext>
    </div>
    <div class="form-group">
      <app-button [label]="'Adicionar Vendedor'" [color]="'primary'" (buttonClick)="adicionarVendedor()"></app-button>
    </div>
  </div>
  
  <div class="container shadow p-4 mt-4">
    <h2>Vendedores</h2>
    <div class="list-group">
      <div *ngFor="let vendedor of vendedores_lista" class="list-group-item">
        <div>{{ vendedor.nome }}</div>
        <div>{{ vendedor.email }}</div>
        <button (click)="selecionarVendedor(vendedor)">Editar</button>
        <button (click)="deletarVendedor(vendedor.id)">Excluir</button>
      </div>
    </div>
  </div>
  
  <div *ngIf="vendedorUpdate" class="container shadow p-4 mt-4">
    <h2>Editar Vendedor</h2>
    <div class="form-group">
      <inputtext [label]="'Nome'" [value]="vendedorUpdate.nome" (valueChange)="vendedorUpdate.nome = $event"></inputtext>
    </div>
    <div class="form-group">
      <inputtext [label]="'Email'" [value]="vendedorUpdate.email" (valueChange)="vendedorUpdate.email = $event"></inputtext>
    </div>
    <div class="form-group">
      <app-button [label]="'Salvar Alterações'" [color]="'success'" (buttonClick)="salvarVendedor()"></app-button>
      <app-button [label]="'Cancelar'" [color]="'clear'" (buttonClick)="cancelarEdicao()"></app-button>
    </div>
  </div>
  