.estacionamentoNome {
    margin-left: 15px;
    font-weight: 500;
}

.disponivel {
    margin-left: 15px;
}

.marginTopo {
    margin-top: 15px;
}

.container-vaga {
    width: 30%;
}

.container-vaga-listagem {
    margin-left: 10px;
    width: 100%;
}