.estacionamentoNome {
    margin-left: 15px;
    font-weight: 500;
}

.disponivel {
    margin-left: 15px;
}

.marginTopo {
    margin-top: 15px;
}

.container-vaga {
    width: 30%;
}

.container-vaga-listagem {
    margin-left: 10px;
    width: 100%;
}

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
 
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}


.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.cliente-detail-card {
  border-radius: 8px;
  padding: 16px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  .cliente-header {
    text-align: center;
    margin-bottom: 10px;
    h3 {
      margin: 0;
      font-size: 1.5em;
    }
  }

  mat-button-toggle {
    margin: 0 10px;
    &.mat-button-toggle-checked {
      background-color: #3f51b5; /* cor do botão ativo */
      color: white;
    }
    mat-icon {
      margin-right: 5px;
    }
  }  

  .cliente-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .cliente-info-item {
      display: flex;
      justify-content: space-between;
      padding: 8px;
      border-radius: 6px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      .label {
        font-weight: bold;

      }


    }
  }
}

.tipo-de-vaga-group mat-button-toggle {
  margin-right: 10px;
  
  &.rotativa-active {
    background-color: #007BFF;
  }

  &.mensalista-active {
    background-color: #28a745;
  }

  &.reserva-active {
    background-color: #ffc107;
  }
}

::ng-deep .light-theme .tipo-de-vaga-group mat-button-toggle.rotativa-active {
  color: black;
}

::ng-deep .light-theme .tipo-de-vaga-group mat-button-toggle.mensalista-active {
  color: black;
}

::ng-deep .light-theme .tipo-de-vaga-group mat-button-toggle.reserva-active {
  color: black;
}
::ng-deep .dark-theme .tipo-de-vaga-group mat-button-toggle.rotativa-active {
  color: white;
}

::ng-deep .dark-theme .tipo-de-vaga-group mat-button-toggle.mensalista-active {
  color: white;
}

::ng-deep .dark-theme .tipo-de-vaga-group mat-button-toggle.reserva-active {
  color: white;
}

mat-button-toggle mat-icon {
  margin-right: 5px;
}
