<div class="d-flex">
  <div class="container-vaga shadow p-4">
    <h2>Detalhes da Vaga</h2>
    <div class="ativo-adicionar">
      <div>
        <div class="d-flex">
          <h4>Estacionamento:</h4>
          <h4 class="estacionamentoNome">{{ estacionamento.nome }}</h4>

        </div>
        <div class="d-flex">
          <h4>Número da Vaga:</h4>
          <inputtext class="disponivel" [label]="'Número'" [value]="vaga.numeroDaVaga"
            (valueChange)="vaga.numeroDaVaga = $event"></inputtext>
        </div>
        <div class="d-flex">
          <h4>Disponibilidade:</h4>
          <toggle class="disponivel" [label]="'Disponível'" [checked]="vaga.disponivel"
            (checkedChange)="onDisponivelChange($event)" />
        </div>
        <div class="d-flex">
          <h4>Cor:</h4>
          <color-picker class="disponivel" (colorChange)="onColorPickerChange($event)"
            [color]="vaga.cor"></color-picker>
        </div>
        <div>
          <h4>Tipo de Vaga:</h4>
          <div class="d-flex">
            <mat-button-toggle-group name="tipoDeVaga" [(ngModel)]="vaga.tipoDeVaga" appearance="legacy" class="tipo-de-vaga-group">
              <mat-button-toggle *ngFor="let tipo of tiposDeVagas" 
                [value]="tipo.codigo" 
                [ngClass]="{
                  'rotativa-active': tipo.descricao === 'Rotatividade' && vaga.tipoDeVaga.descricao === 'Rotatividade',
                  'mensalista-active': tipo.descricao === 'Mensalista' && vaga.tipoDeVaga.descricao === 'Mensalista',
                  'reserva-active': tipo.descricao === 'Reserva' && vaga.tipoDeVaga.descricao === 'Reserva'
                }"
                (click)="onTipoVagaClick(tipo)">
                <mat-icon *ngIf="tipo.descricao === 'Rotatividade'">directions_car</mat-icon>
                <mat-icon *ngIf="tipo.descricao === 'Mensalista'">calendar_today</mat-icon>
                <mat-icon *ngIf="tipo.descricao === 'Reserva'">bookmark</mat-icon>
                {{ tipo.descricao }}
              </mat-button-toggle>
            </mat-button-toggle-group>                        
          </div>
        </div>
        <div class="marginTopo">
          <app-button [label]="'Voltar'" [color]="'primary'" (buttonClick)="voltar()"></app-button>
          <app-button class="disponivel" [label]="'Salvar'" [color]="'success'" (buttonClick)="salvarVaga()" />
          <app-button class="disponivel" [label]="'Incluir Reserva'" [color]="'incluir-reserva'"
            (buttonClick)="incluirReservaModal()"></app-button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-vaga-listagem shadow p-4" *ngIf="reservas && reservas.length > 0">
    <h2>Reservas</h2>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
      @for (column of columnsToDisplay; track column) {
      <ng-container matColumnDef="{{column}}">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ getColumnHeader(column) }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="isDateColumn(column); else checkPaidColumn">
            {{ element[column] | date:'dd/MM/yyyy : HH:mm' }}
          </ng-container>
          <ng-template #checkPaidColumn>
            <ng-container *ngIf="column === 'pago'; else checkValueColumn">
              <span [ngStyle]="{ 'color': element.pago ? 'green' : 'red' }">
                {{ element.pago ? 'SIM' : 'NÃO' }}
              </span>
            </ng-container>
          </ng-template>
          <ng-template #checkValueColumn>
            <ng-container *ngIf="column === 'valor'; else regularCell">
              R$
              <span style="color: green;">
                {{ element[column] | number:'1.2-2' }}
              </span>
            </ng-container>
          </ng-template>

          <!-- Tratamento padrão para outras colunas -->
          <ng-template #regularCell>
            {{ element[column] }}
          </ng-template>
        </td>
      </ng-container>
      }
      <ng-container matColumnDef="expand">
        <th mat-header-cell mat-sort-header *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row"
            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            @if (expandedElement === element) {
            <mat-icon>keyboard_arrow_up</mat-icon>
            } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
            }
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="cliente-detail-card">
              <div class="cliente-header">
                <h3>Detalhes do Cliente</h3>
              </div>
              <div class="cliente-info">
                <div class="cliente-info-item">
                  <icon [icon]="'person'"></icon>
                  <span class="label">Nome:</span>
                  <span class="value">{{element.clienteAvulso.nome}}</span>
                </div>
                <div class="cliente-info-item">
                  <icon [icon]="'directions_car'"></icon>
                  <span class="label">Placa do Veículo:</span>
                  <span class="value">{{element.clienteAvulso.placaVeiculo}}</span>
                </div>
                <div class="cliente-info-item">
                  <icon [icon]="'credit_card'"></icon>
                  <span class="label">Documento de Identidade:</span>
                  <span class="value">{{element.clienteAvulso.documentoIdentidade}}</span>
                </div>
                <div class="cliente-info-item">
                  <icon [icon]="'face'"></icon>
                  <span class="label">ID:</span>
                  <span class="value">{{element.clienteAvulso.id}}</span>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>