/* Estilo personalizado para o container do SnackBar */
.mat-snack-bar-container.custom-snack-bar {
  background: transparent !important; /* Remove o fundo branco */
  box-shadow: none !important;        /* Remove a sombra padrão */
  padding: 0 !important;              /* Remove qualquer padding extra */
  margin: 0 !important;               /* Remove margens extras */
}

/* Estilo do Toast personalizado */
.toast-container {
  padding: 16px;
  border-radius: 4px;
  color: white;
}

.toast-container.success {
  background-color: #4caf50; /* Fundo verde para sucesso */
}

.toast-container.warn {
  background-color: #ff9800; /* Fundo laranja para aviso */
}

.toast-container.danger {
  background-color: #f44336; /* Fundo vermelho para perigo */
}

/* Estilo do Título do Toast */
.toast-title-success {
  color: #4caf50; /* Verde para sucesso */
}

.toast-title-warn {
  color: #ff9800; /* Laranja para aviso */
}

.toast-title-danger {
  color: #f44336; /* Vermelho para perigo */
}
