<div class="shadow p-4">
  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person</mat-icon>
        Dados Pessoais
      </ng-template>
      <div class="mt-3 row">
        <div class="col-md-2">
          <inputtext [label]="'Nome'" [value]="usuarioLogado.nome" (valueChange)="usuarioLogado.nome = $event" />
        </div>
        <div class="col-md-2">
          <input-email [label]="'Email'" [value]="usuarioLogado.email"
            (valueChange)="usuarioLogado.email = $event"></input-email>
        </div>
        <div class="col-md-1">
          <inputtext [label]="'Idade'" [value]="usuarioLogado.age" (valueChange)="usuarioLogado.age = $event" />
        </div>
        <div class="col-md-1">
          <inputtext [label]="'DDD'" [value]="usuarioLogado.ddd" (valueChange)="usuarioLogado.ddd = $event" />
        </div>
        <div class="col-md-2">
          <input-telefone  [label]="'Telefone'" [ddd]="41" [placeholder]="'99999-9999'" (valueChange)="trocaTelefone($event)"></input-telefone>
        </div>
        <div class="col-md-2">
          <inputtext [label]="'CPF/CNPJ'" [(value)]="usuarioLogado.cnpj" [placeholder]="'999999999-99'"></inputtext>
        </div>
      </div>
      <div class="mt-3 row">
        <div class="col-md-2" (keyup.enter)="buscarCEP()">
          <inputtext [apenasNumeros]="true" [maximoCaracteres]="9" [label]="'CEP'" [placeholder]="'999999999-99'" [value]="usuarioLogado.cep"
            (valueChange)="usuarioLogado.cep = $event"></inputtext>
        </div>
        <div class="col-md-2">
          <button class="botao-pesquisa" mat-mini-fab aria-label="Search" (click)="buscarCEP()" [title]="'CEP'">
            <mat-icon aria-label="Search icon">search</mat-icon>
          </button>
        </div>
        <div class="col-md-2">
          <app-inputselect [atributoExibido]="'nome'" [lista]="estados" [label]="'Estado'" [atributoValor]="'id'"
            [(value)]="estadoSelecionadoId" (valueChange)="selecionarEstado($event)">
          </app-inputselect>
        </div>
      </div>
      <div class="mt-3 row">
        <div class="col-md-2">
          <inputtext [value]="usuarioLogado.endereco" [label]="'Endereço'" [placeholder]="'Rua professor B'"
            (valueChange)="usuarioLogado.endereco = $event"></inputtext>
        </div>
        <div class="col-md-2">
          <inputtext [(value)]="usuarioLogado.bairro" [label]="'Bairro'" [placeholder]="'Rua professor B'"></inputtext>
        </div>
        <div class="col-md-2">
          <app-inputselect [atributoExibido]="'nome'" [lista]="cidades" [label]="'Cidade'" [atributoValor]="'id'"
            [(value)]="cidadeSelecionadoId" (valueChange)="selecionarCidade($event)">
          </app-inputselect>
        </div>
        <div class="col-md-1">
          <inputtext [(value)]="usuarioLogado.numero" [label]="'Numero'" [placeholder]="'ex: 2105'"></inputtext>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">directions_car</mat-icon>
        Carro
      </ng-template>
      <div class="example-large-box mat-elevation-z4">
        Content 2
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">local_parking</mat-icon>
        Estacionamento
      </ng-template>
      <div class="mt-3 row">
        <div class="col-md-2">
          <app-inputselect [atributoExibido]="'nome'" [lista]="estacionamentos" [label]="'Selecione um Estacionamento'"
            [atributoValor]="'id'" [(value)]="estacionamentoSelecionadoId"
            (valueChange)="selecionarEstacionamento($event)">
          </app-inputselect>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">bookmark</mat-icon>
        Reservas
      </ng-template>
      Content 3
    </mat-tab>

  </mat-tab-group>

  <div class="row">
    <div class="col-md-1 salvar">
      <app-button [label]="'Salvar'" [color]="'success'" (buttonClick)="salvarUsuario()" />
    </div>
  </div>


</div>