<div class="shadow p-4">
  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person</mat-icon>
        Dados Pessoais
      </ng-template>
      <div class="mt-3 row">
        <div class="col-md-2">
          <inputtext [label]="'Nome'" [value]="usuarioLogado.nome" />
        </div>
        <div class="col-md-2">
          <input-email [label]="'Email'" [value]="usuarioLogado.email"></input-email>
        </div>
        <div class="col-md-2">
          <inputtext [label]="'Idade'" [value]="usuarioLogado.age" />
        </div>
        <div class="col-md-3">
          <input-telefone [label]="'Telefone'" [ddd]="41" [placeholder]="'99999-9999'"></input-telefone>
        </div>
        <div class="col-md-2">
          <inputtext [label]="'CPF/CNPJ'"  [placeholder]="'999999999-99'"></inputtext>
        </div>
      </div>
      <div class="mt-3 row">
        <div class="col-md-2">
          <inputtext [label]="'CEP'"  [placeholder]="'999999999-99'" [value]="usuarioLogado.cep"></inputtext>
        </div>
        <button type="button" aria-label="Search" mat-icon-button (click)="buscarCEP()" [title]="'CEP'">
          <mat-icon aria-label="Search icon">search</mat-icon>
        </button>
      </div>
      <div class="mt-3 row">
        <div class="col-md-2">
          <inputtext [label]="'Endereço'"  [placeholder]="'Rua professor B'"></inputtext>
        </div>
        <div class="col-md-2">
          <inputtext [label]="'Bairro'"  [placeholder]="'Rua professor B'"></inputtext>
        </div>
        <div class="col-md-2">
          <inputtext [label]="'Cidade'"  [placeholder]="'Rua professor B'"></inputtext>
        </div>
        <div class="col-md-1">
          <inputtext [label]="'Numero'"  [placeholder]="'ex: 2105'"></inputtext>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">directions_car</mat-icon>
        Carro
      </ng-template>
      <div class="example-large-box mat-elevation-z4">
        Content 2
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">local_parking</mat-icon>
        Estacionamento
      </ng-template>
      <div class="mt-3 row">
        <div class="col-md-2">
          <app-inputselect [atributoExibido]="'nome'" [lista]="estacionamentos" [label]="'Selecione um Estacionamento'"
            [atributoValor]="'id'" [(value)]="estacionamentoSelecionadoId"
            (valueChange)="selecionarEstacionamento($event)">
          </app-inputselect>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">bookmark</mat-icon>
        Reservas
      </ng-template>
      Content 3
    </mat-tab>

  </mat-tab-group>

  <div class="row">
    <div class="col-md-1 salvar">
      <app-button [label]="'Salvar'" [color]="'success'" (buttonClick)="salvarUsuario()" />
    </div>
  </div>


</div>