.container-vagas {
  margin-left: 10px;
  width: 100%;
  overflow-y: auto;
}

.grid-vagas {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.cartao {
  position: relative;
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s, flex 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 132px;
}

/* Quando minimizado, altera o flex */
.cartao.minimized {
  flex: 0 0 calc(25% - 20px);
}


.cartao-rotatividade {
  background-color: #f0f8ff;
  border-left: 5px solid #007BFF;
}

.cartao-reserva {
  background-color: #fff8dc;
  border-left: 5px solid #ffc107;
}

.cartao-mensalista {
  background-color: #e0ffe0;
  border-left: 5px solid #28a745;
}

.cartao:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cartao h1 {
  font-size: 20px;
  margin-top: 10px;
  color: white;
}

.cartao p {
  color: white;
}

.status-texto {
  font-weight: 100;
}

.texto-disponivel {
  color: #10bb0a;
}

.texto-indisponivel {
  color: #f44336;
}

.vaga-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vaga-status {
  width: 100%;
  text-align: center;
}

.horario {
  font-size: 35px;
  margin-top: 10px;
}

.botao-incluir-reserva {
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 10px;
}

.botao-fechar-reserva {
  position: absolute;
  left: 10px;
  bottom: 10px;
  margin: 10px;
}

.legenda-vagas p {
  align-items: center;
  margin: 0;
}

.legenda-vagas span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  flex-shrink: 0;
}

.legenda-vagas .cor-rot {
  background-color: #007BFF;
}

.legenda-vagas .cor-res {
  background-color: #ffc107;
}

.legenda-vagas .cor-men {
  background-color: #28a745;
}

.legenda-vagas p span+span {
  line-height: 20px;
}

.container-estacionamento {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  transform: translateX(0); /* Posição inicial */
  max-height: 1000px; /* Defina conforme o conteúdo */
  opacity: 1;
  overflow: hidden; /* Garante que o conteúdo não "vaze" enquanto a altura é reduzida */
}

.container-estacionamento.minimized {
  transform: translateX(100%); /* Desloca a div para fora da tela, da direita para a esquerda */
  /* display: none; */
  opacity: 0; /* Deixa a div invisível */
  max-height: 0; /* Reduz a altura gradualmente */
  max-width: 0;
  overflow: hidden; /* Para evitar que o conteúdo fique visível */
}

