<div class="d-flex">
  <div class="container-estacionamento shadow p-4">
    <h2>Estacionamento</h2>
    <div class="ativo-adicionar">
      <div>
        <app-inputselect [atributoExibido]="'nome'" [lista]="estacionamentos" [label]="'Selecione um Estacionamento'"
          [atributoValor]="'id'" [(value)]="selectedEstacionamentoId" (valueChange)="selecionarEstacionamento($event)">
        </app-inputselect>
      </div>
      <div class="legenda-vagas">
        <p><span class="cor-rot"></span> Rotatividade (ROT) - Vagas de rotatividade.</p>
        <p><span class="cor-res"></span> Reservada (RES) - Vagas reservadas com horário agendado.</p>
        <p><span class="cor-men"></span> Mensalista (MEN) - Vagas com contrato mensalista.</p>
      </div>
    </div>
  </div>
  <div class="container-vagas shadow p-4">
    <h2>Vagas</h2>
    <div class="grid-vagas">
      <div *ngFor="let vaga of cardsVagas" class="cartao" [ngClass]="{
        'cartao-rotatividade': vaga.tipoDeVaga.codigo === 'ROT', 
        'cartao-reserva': vaga.tipoDeVaga.codigo === 'RES', 
        'cartao-mensalista': vaga.tipoDeVaga.codigo === 'MEN'
      }" (click)="abrirDetalhesReserva(vaga)" [style.background]="vaga.cor">
        <div class="vaga-header">
          <h1>Vaga {{ vaga.numeroDaVaga }}</h1>
        </div>
        <div class="vaga-status">
          <p class="text-center">
            Status:
            <span class="status-texto"
              [ngClass]="{'texto-disponivel': vaga.disponivel, 'texto-indisponivel': !vaga.disponivel}">
              {{ vaga.disponivel ? 'Disponível' : 'Indisponível' }}
            </span>
          </p>
        </div>
        <div class="d-flex">
          <minibutton *ngIf="!vaga.disponivel && vaga.tempoDecorrido" [icon]="'check'" class="botao-incluir-reserva"
            [title]="'Fechar Reserva'" [color]="'primary'" (click)="fecharReservaModal(vaga); $event.stopPropagation()">
          </minibutton>
          <p *ngIf="!vaga.disponivel && vaga.tempoDecorrido" class="horario text-center">{{ vaga.tempoDecorrido }}</p>
          <minibutton *ngIf="vaga.disponivel" [icon]="'add_location'" class="botao-incluir-reserva"
            [title]="'Incluir Reserva'" [color]="'primary'"
            (click)="incluirReservaModal(vaga); $event.stopPropagation()"></minibutton>
        </div>
      </div>
    </div>
  </div>
</div>