<h2 mat-dialog-title>Adicionar Cliente Avulso</h2>
<h1 mat-dialog-title>Vaga {{ vaga.numeroDaVaga }}</h1>

<mat-dialog-content class="mat-typography">
  <date-picker [(value)]="dataEscolhida"></date-picker>
  <inputtext [value]="horarioDeInicio" (input)="mascara($event,'Inicio')" [label]="'Horário de Início'" />

  <inputtext [value]="horarioDeFim" (input)="mascara($event,'Fim')" [label]="'Horário de Fim'" />
  <div class="d-flex botoes">
    <div class="col-md-2">
      <app-button class="float-left" [label]="'Cancelar'" [color]="'basic'" (buttonClick)="cancelar()"></app-button>
    </div>
    <div class="col-md-3">
      <app-button class="disponivel" [label]="'Incluir Reserva'" [color]="'success'" (buttonClick)="salvarClienteAvulso()"/>
    </div>
  </div>
</mat-dialog-content>