@use '@angular/material' as mat;
@import 'ngx-toastr/toastr';

// Definindo a paleta de cores roxa
$my-custom-palette: mat.define-palette((
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #5c6bc0,
  500: #16405a, // Cor base
  600: #1A2a4a,
  700: #1a2330,
  800: #1a1f2d,
  900: #102027,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #303f9f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  )
));

$accent: mat.define-palette(mat.$pink-palette);

$warn: mat.define-palette(mat.$red-palette);

$theme-light: mat.define-light-theme((
  color: (
    primary: $my-custom-palette,
    accent: $accent,
    warn: $warn,
  )
));

$theme-dark: mat.define-dark-theme((
  color: (
    primary: $my-custom-palette,
    accent: $accent,
    warn: $warn,
  )
));

// Aplicando os temas usando os mixins específicos para cores
.light-theme {
  @include mat.all-component-colors($theme-light);

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
}

.dark-theme {
  @include mat.all-component-colors($theme-dark);

  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgba(124, 124, 124, 0.26);
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #a1a1a133;
  }
}

.minimized-tabs-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: flex-start;
  margin-bottom: 10px;
}


.minimized-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px; 
  background-color: #1A3647; 
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.2s;
}

.minimized-tab:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.minimized-tab:active {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.minimized-tab mat-icon {
  font-size: 24px;
}

.minimized-tab span {
  font-size: 14px;
  margin-top: 5px;
}

.minimized .window {
  top: 100%;
  transform: translate(-50%, -30px);
  width: 200px;
  opacity: .5;
}

.window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 400px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
  z-index: 5;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  overflow: hidden;
  transition: top .5s 0s cubic-bezier(.1, 1.2, .3, 1), transform .5s 0s cubic-bezier(.1, 1.2, .3, 1), width .5s .5s cubic-bezier(.1, 1.2, .3, 1), opacity .3s;
}