@use '@angular/material' as mat;

// Definindo a paleta de cores roxa
$purple-palette: mat.define-palette((
  50: #f3e5f5,
  100: #e1bee7,
  200: #ce93d8,
  300: #ba68c8,
  400: #ab47bc,
  500: #673ab7,
  600: #8e24aa,
  700: #7b1fa2,
  800: #6a1b9a,
  900: #4a148c,
  A100: #ea80fc,
  A200: #e040fb,
  A400: #d500f9,
  A700: #aa00ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  )
));

$accent: mat.define-palette(mat.$pink-palette);

$warn: mat.define-palette(mat.$red-palette);

$theme-light: mat.define-light-theme((
  color: (
    primary: $purple-palette,
    accent: $accent,
    warn: $warn,
  )
));

$theme-dark: mat.define-dark-theme((
  color: (
    primary: $purple-palette,
    accent: $accent,
    warn: $warn,
  )
));

// Aplicando os temas usando os mixins específicos para cores
.light-theme {
  @include mat.all-component-colors($theme-light);
}

.dark-theme {
  @include mat.all-component-colors($theme-dark);
}

/* Estilos para a janela minimizada */
.minimized-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px; /* Ajuste conforme necessário */
  background-color: #673ab7; /* Cor do fundo */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 5px;
}

.minimized-tab:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.minimized-tab:active {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.minimized-tab mat-icon {
  font-size: 24px;
}

.minimized-tab span {
  font-size: 14px;
  margin-top: 5px;
}

.minimized .window {
  top: 100%;
  transform: translate(-50%, -30px);
  width: 200px;
  opacity: .5;
}

.window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 400px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
  z-index: 5;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  overflow: hidden;
  transition: top .5s 0s cubic-bezier(.1, 1.2, .3, 1), transform .5s 0s cubic-bezier(.1, 1.2, .3, 1), width .5s .5s cubic-bezier(.1, 1.2, .3, 1), opacity .3s;
}
